/.gitignore
/target
/.classpath
/.settings
.project
/doc
/src/main/java/META-INF
/src/main/java/net
/src/main/java/org/hisrc
/src/main/java/org/w3
/src/main/java/org/planit/generated
/src/main/java/org/planit/generated/XMLElementTimePeriods.java
/src/main/java/org/planit/generated/XMLElementTravellerTypes.java
/src/main/java/org/planit/generated/XMLElementUnrestrictedDuration.java
/src/main/java/org/planit/generated/XMLElementUserClasses.java
/src/main/java/org/planit/generated/XMLElementZones.java
/src/main/java/org/planit/generated/Direction.java
/src/main/java/org/planit/generated/Durationunit.java
/src/main/java/org/planit/generated/LengthUnit.java
/src/main/java/org/planit/generated/ObjectFactory.java
/src/main/java/org/planit/generated/Srsname.java
/src/main/java/org/planit/generated/Typevalues.java
/src/main/java/org/planit/generated/Unitsvalues.java
/src/main/java/org/planit/generated/XMLElementCentroid.java
/src/main/java/org/planit/generated/XMLElementColumn.java
/src/main/java/org/planit/generated/XMLElementColumns.java
/src/main/java/org/planit/generated/XMLElementConnectoid.java
/src/main/java/org/planit/generated/XMLElementConnectoids.java
/src/main/java/org/planit/generated/XMLElementDemandConfiguration.java
/src/main/java/org/planit/generated/XMLElementDuration.java
/src/main/java/org/planit/generated/XMLElementInfrastructure.java
/src/main/java/org/planit/generated/XMLElementIteration.java
/src/main/java/org/planit/generated/XMLElementLinkConfiguration.java
/src/main/java/org/planit/generated/XMLElementLinkLengthType.java
/src/main/java/org/planit/generated/XMLElementLinks.java
/src/main/java/org/planit/generated/XMLElementLinkSegment.java
/src/main/java/org/planit/generated/XMLElementLinkSegmentTypes.java
/src/main/java/org/planit/generated/XMLElementMacroscopicDemand.java
/src/main/java/org/planit/generated/XMLElementMacroscopicNetwork.java
/src/main/java/org/planit/generated/XMLElementMacroscopicZoning.java
/src/main/java/org/planit/generated/XMLElementMetadata.java
/src/main/java/org/planit/generated/XMLElementModes.java
/src/main/java/org/planit/generated/XMLElementNodes.java
/src/main/java/org/planit/generated/XMLElementOdCellByCellMatrix.java
/src/main/java/org/planit/generated/XMLElementOdDemands.java
/src/main/java/org/planit/generated/XMLElementOdMatrix.java
/src/main/java/org/planit/generated/XMLElementOdRawMatrix.java
/src/main/java/org/planit/generated/XMLElementOdRowMatrix.java
/src/main/java/org/planit/generated/XMLElementOutputConfiguration.java
/src/main/java/org/planit/generated/XMLElementOutputTimePeriod.java
/src/main/java/org/planit/generated/XMLElementPLANit.java
/src/main/java/org/planit/generated/XMLElementSimulation.java
/dependency-reduced-pom.xml
/logs
/bin